
if SOC_MT7621

config DEBUG_UART_BOARD_INIT
	default y

choice
	prompt "Board select"

endchoice

config SYS_CONFIG_NAME
	string "Board configuration name"
	default "mt7621" if  BOARD_MT7621_RFB || BOARD_MT7621_NAND_RFB

config SYS_BOARD
	string "Board name"
	default "mt7621" if  BOARD_MT7621_RFB || BOARD_MT7621_NAND_RFB

config SYS_VENDOR
	default "mediatek" if BOARD_MT7621_RFB || BOARD_MT7621_NAND_RFB

endif
